.text_section {
    font-size: 50px;
}

/*Section 1*/
#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sdg {
    position: center;
    margin: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

#SDG_grid {
    filter: grayscale(100%) brightness(30%);
}

/*Section 2*/
#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#united {
    filter: grayscale(80%);
}

/*Section 3*/
.text_statement {
    font-size: 50px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:70%;
    height:30%;
}

/*Section 4*/
#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meat_diagram {
    position: center;
    margin: 10px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    background: rgba(255, 255, 255, 0.5);
}

.bar {
	fill: #505050;
}

.bar:hover {
	fill: #7CFC00;
}


/*Section 5*/
#section5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meat_type {
    position: center;
    margin: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.land_use {
    fill: #808080;
    opacity: 1;
}


#betail {
    filter: grayscale(20%);
}

#default_meat {
    font-size: 30px;
    margin: 0px;
    line-height: 100%;
    background-color: white;
}

/*Section 6*/
#section6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#beef1 {
    position: center;
    margin: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    opacity: 1;
}

#arrow1 {
    width: 200px;
    height: 200px;
    fill: black;
    opacity: 1;
    visibility: hidden;
}

#tree1 {
    visibility: hidden;
}


.tree {
    margin: 30px;
}

.interaction_transp {
    opacity: 0.7;
}

.interaction_reforest {
    opacity: 0.7;
}

.interaction_visible {
    fill: black;
}

/*Section 7 - 9*/
.mapcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/*Section 11 */
.modal {
  display: none; 
  overflow:hidden;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.text_sources {
  font-size: 16px;
  column-count: 2;
  orphans: 3;
  text-align: left;
}

div.text_sources p{
    margin-top:0px;
}

